<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aca973">  <td>18/07/04 22:56:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FidoMultiuser.beforeClass()[pri:0, instance:com.test.skproject.FidoMultiuser@52f759d7]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td>  <td>main@1561408618</td>   <td></td> </tr>
<tr bgcolor="aca973">  <td>18/07/04 22:56:46</td>   <td>11172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FidoMultiuser.users(java.lang.String, java.lang.String)[pri:0, instance:com.test.skproject.FidoMultiuser@52f759d7]">users</td> 
  <td>main@1561408618</td>   <td></td> </tr>
<tr bgcolor="aca973">  <td>18/07/04 22:56:52</td>   <td>17045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FidoMultiuser.afterClass()[pri:0, instance:com.test.skproject.FidoMultiuser@52f759d7]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td>  <td>main@1561408618</td>   <td></td> </tr>
<tr bgcolor="aca973">  <td>18/07/04 22:56:53</td>   <td>18134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FidoMultiuser.beforeClass()[pri:0, instance:com.test.skproject.FidoMultiuser@52f759d7]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td>  <td>main@1561408618</td>   <td></td> </tr>
<tr bgcolor="aca973">  <td>18/07/04 22:57:04</td>   <td>29408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FidoMultiuser.users(java.lang.String, java.lang.String)[pri:0, instance:com.test.skproject.FidoMultiuser@52f759d7]">users</td> 
  <td>main@1561408618</td>   <td></td> </tr>
<tr bgcolor="aca973">  <td>18/07/04 22:57:05</td>   <td>30026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FidoMultiuser.afterClass()[pri:0, instance:com.test.skproject.FidoMultiuser@52f759d7]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td>  <td>main@1561408618</td>   <td></td> </tr>
<tr bgcolor="aca973">  <td>18/07/04 22:57:06</td>   <td>31552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FidoMultiuser.beforeClass()[pri:0, instance:com.test.skproject.FidoMultiuser@52f759d7]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td>  <td>main@1561408618</td>   <td></td> </tr>
<tr bgcolor="aca973">  <td>18/07/04 22:57:15</td>   <td>40643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FidoMultiuser.users(java.lang.String, java.lang.String)[pri:0, instance:com.test.skproject.FidoMultiuser@52f759d7]">users</td> 
  <td>main@1561408618</td>   <td></td> </tr>
<tr bgcolor="aca973">  <td>18/07/04 22:57:22</td>   <td>47608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FidoMultiuser.afterClass()[pri:0, instance:com.test.skproject.FidoMultiuser@52f759d7]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td>  <td>main@1561408618</td>   <td></td> </tr>
</table>
